[Unit]
Description=escapepod-soc: check SD card usage every 15 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=15min

[Install]
WantedBy=timers.target
